[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"

[packages]
notebook = ">=6.3"
requests = "*"
beautifulsoup4 = "*"
dateparser = "*"
pandas = "*"
etaprogress = "*"
matplotlib = "*"
seaborn = "*"
jsonlines = "*"
scikit-learn = "*"
tensorflow = ">=2.4.0"
transformers = ">=4.5.1"
sentencepiece = "*"

[requires]
python_version = "3.8"
