[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
jupyter = "*"
requests = "*"
beautifulsoup4 = "*"
dateparser = "*"
pandas = "*"
pylint = "*"
etaprogress = "*"

[requires]
python_version = "3.7"
